/* stackoverflow.dark */
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}

code.hljs {
  padding: 3px 5px;
}

.hljs {
  background-color: #1D1B1B;
  color: #FFFFFF;
}

.hljs-built_in, .hljs-literal, .hljs-title {
  color: #FB9D51;
}

.hljs-bullet, .hljs-code {
  color: #CCCCCC;
}

.hljs-doctag, .hljs-keyword, .hljs-meta-keyword, .hljs-meta, .hljs-section, .hljs-selector-class, .hljs-selector-pseudo, .hljs-selector-tag {
  color: #90C4F9;
}

.hljs-name, .hljs-number, .hljs-quote, .hljs-selector-id, .hljs-template-tag, .hljs-type {
  color: #FB9D51;
}

.hljs-link, .hljs-meta-string, .hljs-regexp, .hljs-selector-attr, .hljs-string, .hljs-symbol, .hljs-template-variable, .hljs-variable {
  color: #B6BE6A;
}

.hljs-addition {
  color: #9CDEBC;
}

.hljs-attr {
  color: #90C4F9;
}

.hljs-attribute {
  color: #DF9FD9;
}

.hljs-comment {
  color: #999999;
}

.hljs-deletion {
  color: #FCC5C5;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-subst {
  color: #FFFFFF;
}
