/* overflow.light */
.language-json .highlight .nl {
  color: #015493;
}

/* Source: https://github.com/dieghernan/overflow-theme */
/* Overall */
.highlight table td {
  padding: 5px;
}

.highlight table pre {
  margin: 0;
}

.highlight pre {
  background: #F6F6F6;
  color: #0C0D0E;
}

.highlight .hll {
  background-color: #E6E6E6;
}

/* Comments */
.highlight .c {
  color: #666F78;
}

.highlight .cp {
  color: #666F78;
}

.highlight .cpf {
  color: #666F78;
}

.highlight .cm {
  color: #666F78;
}

.highlight .c1 {
  color: #666F78;
}

.highlight .cs {
  color: #666F78;
}

.highlight .ch {
  color: #666F78;
}

/* Constants */
.highlight .se {
  color: #0C0D0E;
}

.highlight .kc {
  color: #B75301;
}

.highlight .no {
  color: #0C0D0E;
}

.highlight .ss {
  color: #567A0D;
}

/* Numbers */
.highlight .m {
  color: #B75301;
}

.highlight .mb {
  color: #B75301;
}

.highlight .mh {
  color: #B75301;
}

.highlight .mo {
  color: #B75301;
}

.highlight .mf {
  color: #B75301;
}

.highlight .mi {
  color: #B75301;
}

.highlight .il {
  color: #B75301;
}

/* Entities */
.highlight .nc {
  color: #0C0D0E;
}

.highlight .nd {
  color: #0C0D0E;
}

.highlight .ne {
  color: #0C0D0E;
}

.highlight .nf {
  color: #0C0D0E;
}

.highlight .py {
  color: #0C0D0E;
}

.highlight .nt {
  color: #B75301;
}

.highlight .nn {
  color: #0C0D0E;
}

.highlight .na {
  color: #0C0D0E;
}

.language-yaml .highlight .kt {
  color: #B75301;
}

.language-css .highlight .nt, .language-css .highlight .nd, .language-scss .highlight .nt, .language-scss .highlight .nd {
  color: #015493;
}

.language-css .highlight .nf, .language-scss .highlight .nf {
  color: #B75301;
}

.language-css .highlight .n, .language-scss .highlight .n {
  color: #0C0D0E;
}

.language-html .highlight .na {
  color: #015493;
}

/* Invalid */
.highlight .err {
  color: #9C2121;
}

.highlight .gr {
  color: #9C2121;
}

.highlight .ne {
  color: #9C2121;
}

/* Keywords */
.highlight .k {
  color: #015493;
}

.highlight .kn {
  color: #015493;
}

.highlight .o {
  color: #0C0D0E;
}

.highlight .ow {
  color: #0C0D0E;
}

.language-markdown .highlight .sb {
  color: #3B4045;
}

.language-css .highlight .k, .language-scss .highlight .k {
  color: #015493;
}

.language-css .highlight .cp, .language-scss .highlight .cp {
  color: #015493;
  font-weight: bold;
  font-style: normal;
}

.language-yaml .highlight .nt {
  color: #015493;
  font-weight: bold;
  font-style: normal;
}

.language-yaml .highlight .na {
  color: #015493;
}

/* Markup */
.highlight .gs {
  color: #0C0D0E;
  font-weight: bold;
}

.highlight .gh {
  color: #015493;
}

.highlight .gu {
  color: #015493;
}

.highlight .ge {
  color: #0C0D0E;
  font-style: italic;
}

.highlight .ges {
  font-weight: bold;
  font-style: italic;
}

.highlight .gt {
  color: #B75301;
}

/* Meta */
.language-html .highlight .cp {
  color: #666F78;
  font-style: normal;
}

/* Punctuation */
.highlight .p {
  color: #0C0D0E;
}

.highlight .pm {
  color: #0C0D0E;
}

.highlight .dl {
  color: #0C0D0E;
}

.highlight .sh {
  color: #0C0D0E;
}

/* Storage */
.highlight .kd {
  color: #015493;
}

.highlight .kt {
  color: #015493;
}

/* String */
.highlight .s {
  color: #567A0D;
}

.highlight .sb {
  color: #567A0D;
}

.highlight .s1 {
  color: #567A0D;
}

.highlight .s2 {
  color: #567A0D;
}

.highlight .sx {
  color: #567A0D;
}

.highlight .si {
  color: #567A0D;
}

.highlight .sr {
  color: #567A0D;
}

.language-html .highlight .s {
  color: #567A0D;
}

/* Support */
.highlight .nb {
  color: #0C0D0E;
}

.highlight .bp {
  color: #0C0D0E;
}

.highlight .fm {
  color: #0C0D0E;
}

.highlight .vm {
  color: #0C0D0E;
}

.highlight .nl {
  color: #803378;
}

.language-css .highlight .nc, .language-css .highlight .nn, .language-scss .highlight .nc, .language-scss .highlight .nn {
  color: #015493;
}

/* Variable */
.highlight .vi {
  color: #567A0D;
}

.highlight .kp {
  color: #567A0D;
}

.highlight .nv {
  color: #567A0D;
}

.highlight .vc {
  color: #567A0D;
}

.highlight .vg {
  color: #567A0D;
}
